In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('/Users/rayquaza/Desktop/mlops/pandas/winemag-data-130k-v2.csv',index_col=0)
df

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [17]:
df.groupby('price').price.count()

price
4.0        11
5.0        46
6.0       120
7.0       433
8.0       892
         ...
1900.0      1
2000.0      2
2013.0      1
2500.0      2
3300.0      1
Name: price, Length: 390, dtype: int64

In [13]:
df.price.value_counts()

price
20.0     6940
15.0     6066
25.0     5805
30.0     4951
18.0     4883
         ...
574.0       1
630.0       1
764.0       1
319.0       1
848.0       1
Name: count, Length: 390, dtype: int64

In [23]:
df.groupby('price').points.min()

price
4.0       82
5.0       80
6.0       80
7.0       80
8.0       80
          ..
1900.0    98
2000.0    96
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [41]:
df.groupby('country').apply(lambda x:x.price.iloc[0])

/var/folders/wd/28dthdw16pg5_wrd6f76dg4h0000gn/T/ipykernel_9761/1573588835.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('country').apply(lambda x:x.price.iloc[0])

country
Argentina                 30.0
Armenia                   14.0
Australia                 18.0
Austria                   12.0
Bosnia and Herzegovina    13.0
Brazil                    36.0
Bulgaria                   9.0
Canada                    30.0
Chile                     15.0
China                     18.0
Croatia                   20.0
Cyprus                    17.0
Czech Republic            25.0
Egypt                      NaN
England                   46.0
France                    24.0
Georgia                   12.0
Germany                   12.0
Greece                    15.0
Hungary                   36.0
India                     20.0
Israel                    50.0
Italy                      NaN
Lebanon                   75.0
Luxembourg                16.0
Macedonia                 15.0
Mexico                    18.0
Moldova                   11.0
Morocco                   18.0
New Zealand               19.0
Peru                      14.0
Portugal                  15.0
Romania                    7.0
Serbia                    26.0
Slovakia                  16.0
Slovenia                  20.0
South Africa              45.0
Spain                     15.0
Switzerland               30.0
Turkey                    20.0
US                        14.0
Ukraine                   10.0
Uruguay                   43.0
dtype: float64

In [51]:
df.iloc[:5,1]

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
Name: description, dtype: object

In [71]:
df.groupby(['country','price']).apply(lambda x:x.loc[:,'winery'])

/var/folders/wd/28dthdw16pg5_wrd6f76dg4h0000gn/T/ipykernel_9761/2585232059.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby(['country','price']).apply(lambda x:x.loc[:,'winery'])

country    price
Argentina  4.0    29553          Broke Ass
           5.0    23437           Terrenal
                  112639           Zamarro
                  125826     Toca Diamonte
           6.0    2618         Funky Llama
                                 ...
Uruguay    60.0   71451     Familia Deicas
                  72049     Familia Deicas
           65.0   19512           Marichal
           120.0  38811     Familia Deicas
           130.0  93548     Familia Deicas
Name: winery, Length: 120916, dtype: object

In [73]:
df.groupby(['country','price']).points.agg([len,min,max])

/var/folders/wd/28dthdw16pg5_wrd6f76dg4h0000gn/T/ipykernel_9761/525242591.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby(['country','price']).points.agg([len,min,max])
/var/folders/wd/28dthdw16pg5_wrd6f76dg4h0000gn/T/ipykernel_9761/525242591.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby(['country','price']).points.agg([len,min,max])

                 len  min  max
country   price
Argentina 4.0      1   84   84
          5.0      3   80   84
          6.0     11   81   85
          7.0     19   81   87
          8.0     54   80   87
...              ...  ...  ...
Uruguay   52.0     1   89   89
          60.0     3   87   91
          65.0     1   84   84
          120.0    1   88   88
          130.0    1   90   90

[2238 rows x 3 columns]

In [79]:
x=df.groupby(['country','price']).description.agg([len])

pandas.core.indexes.multi.MultiIndex

In [81]:
x.index

MultiIndex([('Argentina',   4.0),
            ('Argentina',   5.0),
            ('Argentina',   6.0),
            ('Argentina',   7.0),
            ('Argentina',   8.0),
            ('Argentina',   9.0),
            ('Argentina',  10.0),
            ('Argentina',  11.0),
            ('Argentina',  12.0),
            ('Argentina',  13.0),
            ...
            (  'Uruguay',  43.0),
            (  'Uruguay',  44.0),
            (  'Uruguay',  45.0),
            (  'Uruguay',  46.0),
            (  'Uruguay',  50.0),
            (  'Uruguay',  52.0),
            (  'Uruguay',  60.0),
            (  'Uruguay',  65.0),
            (  'Uruguay', 120.0),
            (  'Uruguay', 130.0)],
           names=['country', 'price'], length=2238)

In [83]:
x.reset_index()

        country  price  len
0     Argentina    4.0    1
1     Argentina    5.0    3
2     Argentina    6.0   11
3     Argentina    7.0   19
4     Argentina    8.0   54
...         ...    ...  ...
2233    Uruguay   52.0    1
2234    Uruguay   60.0    3
2235    Uruguay   65.0    1
2236    Uruguay  120.0    1
2237    Uruguay  130.0    1

[2238 rows x 3 columns]